#about {
  background: #d1d5db;

  padding: 80px 0;
}

#about h2 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-tabs .nav-link {
  color: #333;
  border: none;
  padding: 15px 25px;
  font-weight: 500;
  background: transparent;
  border-radius: 5px 5px 0 0;
}

.about-tabs .nav-link.active {
  background: #fff !important;
  color: #000;
  border: none !important;
}

.tab-pane {
  background: #fff;
  padding: 40px;
  border-radius: 0 5px 5px 5px;
  min-height: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.about-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}